{%extends 'home.html'%}
    {%block bar%}
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Product</a>
                    <span class="breadcrumb-item active">Update Product</span>
                </nav>
            </div>
        </div>
    </div>
    {%endblock%}
{%block product%}
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Update</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                    <form method="post">
                        {%csrf_token%}
                        <div class="control-group">
                            <select name = "product" required="required" class="form-control" id="dropdown">
                                <h2>select product name </h2>
                                {%for product in productes%}
                                <option value="{{product.Idpro}}">{{product.namepro}}</option>
                                 {%endfor%}
                             </select>
                            <p class="help-block text-danger"></p>
                            <input type="text" class="form-control" name="proname" />
                            <p class="help-block text-danger"></p>

                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Product updated successfully</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    {%endblock%}