{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">

  	 <title>{% block title %}Ecommerce Register Form{%endblock%}
</title>
  <link rel="stylesheet" href="{% static './style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="{% static 'slide navbar style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method="post">
					{%csrf_token%}
					<label for="chk" aria-hidden="true">{% block content %}Register{% endblock %}</label>
					{% block content2 %}
					<input type="text" name="txt" placeholder="User name" >
					<input type="email" name="email" placeholder="Email" >
					<input type="password" name="pswd" placeholder="Password">
					{% endblock %}
					<div style="color:red">
					{{massage}}</div>

					{%block button%}<button>Register</button>{%endblock%}
				</form>

			</div>


	</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
